@model IEnumerable<WebApplication1.Models.Group>

@{
    ViewData["Title"] = "Группы";
}

<h1>Группы</h1>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название группы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
