@model WebApplication1.Models.Subject
@inject DataContext _context

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Предмет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Часов</label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Группа</label>
                <select asp-for="GroupId" id="group" name="GroupId">
                    @foreach (var group in _context.Groups)
                    {
                        <option value="@group.GroupID">@group.GroupName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

