@model WebApplication1.Models.Record
@inject GroupContext groups
@inject UserContext teachers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher" class="control-label"></label>
                <select asp-for="Teacher" id="group" name="Group">
                    @foreach (var teacher in teachers.Users.Where(x => x.Permission == "Teacher"))
                    {
                        <option value="@teacher.UserName">@teacher.UserName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Auditorium" class="control-label"></label>
                <input asp-for="Auditorium" class="form-control" />
                <span asp-validation-for="Auditorium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <select asp-for="Group" id="group" name="Group">
                    @foreach (var group in groups.Groups)
                    {
                        <option value="@group.GroupName">@group.GroupName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

