@model WebApplication1.Models.Record
@inject DataContext _context

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Запись</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordID" />
            <div class="form-group">
                <label class="control-label">Дата</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Предмет</label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Преподаватель</label>
                <input asp-for="Teacher" class="form-control" />
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Аудитория</label>
                <input asp-for="Auditorium" class="form-control" />
                <span asp-validation-for="Auditorium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Группа</label>
                <span asp-validation-for="Group" class="text-danger"></span>
                <select asp-for="Group" id="group" name="Group">
                    @foreach (var group in _context.Groups)
                    {
                        <option value="@group.GroupName">@group.GroupName</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

