@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Создать";
}
<style>
    .password {
        display: flex;
    }
</style>
<h1>Создать</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Логин</label>
                <input required asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["UserNameTaken"].Errors.Count > 0)
                {
                    <div class="alert alert-danger">
                        @ViewData.ModelState["UserNameTaken"].Errors.First().ErrorMessage
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Пароль</label>
                <div class="password">
                    <input required id="password" asp-for="Password" type="password" class="form-control" />
                    <button type="button" class="btn btn-primary" onclick="ShowPass()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Почта</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Доступ</label>
                <select required asp-for="Permission" name="Permission">
                    <option value="Teacher">Teacher</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

